<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css" />
    <title>家系ラーメン食べたい！</title>
    <style>
      img {
        width: 100%;
        height: auto;
        max-width: 600px;
      }
    </style>
  </head>
  <boby>
    <div style="margin: 1em 2em">
      <header>
        <h1>家系ラーメン食べたい！</h1>
      </header>
      <nav><a href="/">Top</a></nav>
