{{>header}}
<h2>{{ title }}</h2>
<p>
  <img alt="{{ title }}" src="{{{ image.url }}}" width="{{ image.width }}" height="{{ image.height }}" />
</p>
<blockquote>
  {{ description }}
</blockquote>
{{>footer}}